<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monthly Budget Planner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Hind&family=Oswald&display=swap" rel="stylesheet">
</head>
<body>

    <div class="header">
        <h1 style="font-family: 'Oswald', sans-serif; color: #F84AA7; text-align: center;font-size: 60px">Monthly Budget Planner</h1>
    </div>

<!-- Left Navigation Bar -->
<div class="sidenav">
    <center><h2 style="font-family: 'Oswald', sans-serif; color: #1b1b3a;">Home</h2></center>
    <a href="#" style="color: #1b1b3a;font-family: 'Hind', sans-serif;">Monthly Budget</a>
    <a href="#" style="color: #1b1b3a;font-family: 'Hind', sans-serif;">Categorical Limit</a>
    <a href="#" style="color: #1b1b3a;font-family: 'Hind', sans-serif;">Monthly Expenses</a>
    <a href="#" style="color: #1b1b3a;font-family: 'Hind', sans-serif;">Generate Report</a>
</div>

</body>
</html>
