{% extends 'base.html' %}

{% block content %}
    <h2>Enter Monthly Budget</h2>
    <form action="/add_budget" method="post">
        <label for="amount">Amount: </label>
        <input type="number" name="amount" required>
        <button type="submit">Submit</button>
    </form>

    <h2>Budget Information</h2>
    <p>Your current monthly budget: {{ budget }}</p>
    <p>
        <a href="{{ url_for('update_budget') }}">Update Budget</a> |
        <a href="{{ url_for('delete_budget') }}">Delete Budget</a>
    </p>
{% endblock %}
